.modal-wrapper{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  // opacity: 90%;
  .modal-content{
    display: block;
    padding: 20px;
    position: absolute;
    left: 45%;
    top: 20%;
    max-width: 640px;
    border-radius: 2px;
    background: white;
    z-index: 1;
    }
}
